.red
	&_background
		background-color	 #F44336
		color				 #FFF
	&_text
		color				 #F44336 !important
.pink
	&_background
		background-color	 #E91E63
		color				 #FFF
	&_text
		color				 #E91E63 !important
.purple
	&_background
		background-color	 #9C27B0
		color			 	 #FFF
	&_text
		color			 	#9C27B0 !important
.deepPurple
	&_background
		background-color	 #673AB7
		color				 #FFF
	&_text
		color				 #673AB7 !important
.indigo
	&_background
		background-color	 #3F51B5
		color			 #FFF
	&_text
		color			 #3F51B5 !important
.blue
	&_background
		background-color	 #2196F3
		color				 #FFF
	&_text
		color				 #2196F3 !important
.lightBlue
	&_background
		background-color	 #03A9F4
		color			 #FFF
	&_text
		color			 #03A9F4 !important
.cyan
	&_background
		background-color	 #00BCD4
		color			 #FFF
	&_text
		color			 #00BCD4 !important
.teal
	&_background
		background-color	 #009688
		color			 #FFF
	&_text
		color			 #009688 !important
.green
	&_background
		background-color	 #4CAF50
		color			 #FFF
	&_text
		color			 #4CAF50 !important
.lightGreen
	&_background
		background-color	 #8BC34A
		color			 #FFF
	&_text
		color			 #8BC34A !important
.lime
	&_background
		background-color	 #CDDC39
		color			 #000
	&_text
		color			 #CDDC39 !important
.yellow
	&_background
		background-color	 #FFEB3B
		color			 #000
	&_text
		color			 #FFEB3B !important
.amber
	&_background
		background-color	 #FFC107
		color			 #000
	&_text
		color			 #FFC107 !important
.orange
	&_background
		background-color	 #FF9800
		color			 #000
	&_text
		color			 #FF9800 !important
.deepOrange
	&_background
		background-color	 #FF5722
		color			 #FFF
	&_text
		color			 #FF5722 !important
.brown
	&_background
		background-color	 #795548
		color			 #FFF
	&_text
		color			 #795548 !important
.grey
	&_background
		background-color	 #9E9E9E
		color			 #FFF
	&_text
		color			 #9E9E9E !important
.blueGrey
	&_background
		background-color	 #607D8B
		color			 #FFF
	&_text
		color			 #607D8B !important
.black
	&_background
		background-color	 #000
		color			 #FFF
	&_text
		color			 #000 !important
.white
	&_background
		background-color	 #FFF
		color			 #000
	&_text
		color			 #FFF !important