//	*******************************************************
//		platzi.com 2014 All rights reserved	
//		Site Name	:	https://platzi.firebaseio.com/	
//		Author		:	César Antón Dorantes - @reicek
//		Date		:	25/10/2014
//	*******************************************************

@import 'nib'
@import 'colors'
@import 'layout'
@import 'size'
@import 'buttons'
@import 'platzi'
@import '../components/okr/okr.styl'