button
	&.addKeyResult
		margin				1em 0.5em 1em auto
	&.addObjective
		margin				0 1em 0 auto
		

.alignRight
	margin-left			auto !important
	margin-right		10%
.alignLeft
	margin-right		auto !important
	margin-left			10%